.navbar {
  margin-bottom: 0;
  border-radius: 0;
  background-color: #5E4485;
  color: #FFF;
  padding: 1% 0;
  font-size: 1.2em;
  border: 0;
}

.navbar-brand {
  float: left;
  min-height: 55px;
  padding: 0 15px 5px:
}

.navbar-inverse .navbar-nav .active a, .navbar-inverse .navbar-nav .active a:focus,
.navbar-inverse .navbar-nav .active a:hover {
  color: #FFF;
  background-color: #5E4485;
}

.navbar-inverse .navbar-nav li a {
  color: #D5D5D5;
}

.carousel-caption {
  top: 50%;
  transform: translateY(-50%);
  text-transform: uppercase;
}

.btn {
  font-size: 18px;
  color: #FFF;
  padding: 12px 12px;
  background-color: #5E4485;
  border: 2px solid #FFF;
}

.container {
  margin: 4% auto;
}

#icon {
  max-width: 200px;
  margin: 1% auto;
}

#draggable { width: 150px; height: 150px; padding: 0.5em; color: yellow; }

button{
  width:150px;
}


.calculator {
  position: relative;
  display: block-inline;
  padding: 1em 0;
  width: 300px;
  background-color: #d9d9d9;
  border-radius: 15px;
  box-shadow: 5px 5px 15px 3px #111;
}

.calc-row {
  text-align: center;
}

.calc-row div.screen {
  display: table;
  width: 80%;
  background-color: #aaa;
  text-align: right;
  font-size: 2em;
  min-height: 1.2em;
  margin-left: 1em;
  padding-right: 0.5em;
  border: 1px solid #888;
  color: #333;
}

.calc-row div {
  text-align: center;
  display: inline-block;
  font-weight: bold;
  border: 1px solid #555;
  background-color: #eee;
  padding: 10px 0;
  margin: 7px 5px;
  border-radius: 15px;
  box-shadow: 2px 2px 1px 1px #222;
  width: 50px;
}

.calc-row div:hover{
  background: yellow;
  font-weight: bold;
  cursor: cell;
}

.calc-row div.zero {
  width: 112px;
  margin-right: 5px;
}


.grabbing {
  cursor: -webkit-grabbing; 
  cursor: grabbing;
}


footer {
  width: 100%;
  background-color: #5E4485;
  padding: 3%;
  color: #FFF;
}
.fa{
  padding: 20px;
  font-size: 30px;
  color: #FFF;
}
.fa:hover{
  color: #D5D5D5;
  text-decoration: none;
}

@media (max-width: 600px){
  .carousel-caption {
    display: none;
  }
  #icon {
    max-width: 150px;
  }
  h2 {
    font-size: 1.5em;
  }
}

@media (max-width: 900px){
  .fa {
    font-size:20px;
    padding:10px;
  }
}



